################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ISPSMS_JUHACA
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
